<!DOCTYPE html>
<html lang="zh-cn">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>人流量管理系统</title>
    <!-- Bootstrap core CSS-->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="../static/css/sb-admin.css" rel="stylesheet">
</head>
{% if user.is_authenticated %}
    <body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation-->
    {% include "model.html" %}
    <div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href={% url "index" %}>人流量管理系统</a>
            </li>
            <li class="breadcrumb-item active">趋势记录图</li>
        </ol>
        <!-- Area Chart Example-->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-area-chart"></i> 人流量实时记录
            </div>
            <div class="card-body">
                <canvas id="myAreaChart" width="100%" height="30"></canvas>
            </div>
            <div class="card-footer small text-muted">更新时间:{{ current_time }}</div>
        </div>


        <div class="row">
            <div class="col-lg-8">
                <!-- Example Bar Chart Card-->
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-bar-chart"></i> 人流量趋势
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-8 my-auto">
                                <canvas id="myBarChart" width="100" height="50"></canvas>
                            </div>
                            <div class="col-sm-4 text-center my-auto">
                                <div class="h4 mb-0 text-primary">一天</div>
                                <div class="small text-muted">正常人流天数</div>
                                <hr>
                                <div class="h4 mb-0 text-warning">两天</div>
                                <div class="small text-muted">黄色预警天数</div>
                                <hr>
                                <div class="h4 mb-0 text-success">三天</div>
                                <div class="small text-muted">红色预警天数</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer small text-muted">更新时间:{{ current_time }}</div>
                </div>
            </div>


        </div>
    </div>

    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
        <div class="container">

        </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    {% include "logout_model.html" %}
{% else %}
    {#    <meta http-equiv="refresh" content="0" href={% url "login:login" %}>#}
    <script>
        const redirect = (url, asLink = true) =>
            asLink ? (window.location.href = url) : window.location.replace(url);

        redirect('{% url "login:login" %}');
    </script>
{% endif %}
<script src={% static "vendor/jquery/jquery.min.js" %}></script>
<script src={% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}></script>
<!-- Core plugin JavaScript-->
<script src={% static "vendor/jquery-easing/jquery.easing.min.js" %}></script>
<!-- Page level plugin JavaScript-->
<script src={% static "vendor/chart.js/Chart.min.js" %}></script>
<script src={% static "vendor/datatables/jquery.dataTables.js" %}></script>
<script src={% static "vendor/datatables/dataTables.bootstrap4.js" %}></script>
<!-- Custom scripts for all pages-->
<script src={% static "js/sb-admin.min.js" %}></script>
<!-- Custom scripts for this page-->
<script src={% static "js/sb-admin-datatables.min.js" %}></script>
<script>
    /*!
 * Start Bootstrap - SB Admin v4.0.0-beta.2 (https://startbootstrap.com/template-overviews/sb-admin)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-sb-admin/blob/master/LICENSE)
 */
    Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif',
        Chart.defaults.global.defaultFontColor = "#292b2c";
    var ctx = document.getElementById("myAreaChart");
    var labels = {{ json_data_time| safe }};
    var red = "bg-danger";
    var redtext = "红色预警";
    var yellow = "bg-warning";
    var yellowtext = "黄色预警";
    var green = "bg-success";
    var greentext = "情况正常";

    var data = {{ json_data_data|safe }};
    myLineChart = new Chart(ctx,
        {
            type: "line",
            data: {
                labels: labels,
                datasets: [
                    {
                        label: "餐厅",
                        lineTension: .3,
                        backgroundColor: "rgba(2,117,216,0.2)",
                        borderColor: "rgba(2,117,216,1)",
                        pointRadius: 5,
                        pointBackgroundColor: "rgba(2,117,216,1)",
                        pointBorderColor: "rgba(255,255,255,0.8)",
                        pointHoverRadius: 5,
                        pointHoverBackgroundColor: "rgba(2,117,216,1)",
                        pointHitRadius: 20,
                        pointBorderWidth: 2,
                        data: data
                    },
                    {
                        label: "宿舍",
                        lineTension: .3,
                        backgroundColor: "rgba(0,0,0,0.2)",
                        borderColor: "rgba(0,0,0,1)",
                        pointRadius: 5,
                        pointBackgroundColor: "rgba(0,0,0,1)",
                        pointBorderColor: "rgba(255,255,255,0.8)",
                        pointHoverRadius: 5,
                        pointHoverBackgroundColor: "rgba(0,0,0,1)",
                        pointHitRadius: 20,
                        pointBorderWidth: 2,
                        data: {{ json_data_data_2|safe }}
                    },
                    {
                        label: "其他",
                        lineTension: .3,
                        backgroundColor: "rgba(255,0,0,0.2)",
                        borderColor: "rgba(255,0,0,1)",
                        pointRadius: 5,
                        pointBackgroundColor: "rgba(255,0,0,1)",
                        pointBorderColor: "rgba(255,255,255,0.8)",
                        pointHoverRadius: 5,
                        pointHoverBackgroundColor: "rgba(255,0,0,1)",
                        pointHitRadius: 20,
                        pointBorderWidth: 2,
                        data: {{ json_data_data_3|safe }}
                    }
                ]
            },
            options: {
                scales: {
                    xAxes: [{
                        time: {unit: "date"},
                        gridLines: {display: !1},
                        ticks: {maxTicksLimit: 7}
                    }],
                    yAxes: [{
                        ticks: {min: 0, max: 4e4, maxTicksLimit: 5},
                        gridLines: {color: "rgba(0, 0, 0, .125)"}
                    }]
                },
                legend: {display: !1},
                //animation : true
            }
        }
    )
    setInterval(function area_flush() {
        $.ajax("/part_flush/", {
            type: "GET",
            url: "/part_flush/",
            dataType: "json",
            success: function (data) {
                var k = "";
                var s = 0;
                k = data[0];
                s = data[1];
                l = data[2];
                myLineChart.data.labels.pop();
                myLineChart.data.labels.unshift(k);
                if (l == "餐厅") {
                    myLineChart.data.datasets[0].data.pop();
                    myLineChart.data.datasets[0].data.unshift(s);
                } else if (l == "宿舍") {
                    myLineChart.data.datasets[1].data.pop();
                    myLineChart.data.datasets[1].data.unshift(s);
                } else {
                    myLineChart.data.datasets[2].data.pop();
                    myLineChart.data.datasets[2].data.unshift(s);
                }
                myLineChart.update();
                console.log("更新时间:" + k);
                console.log("当前人流量:" + s.toString() + "人次");
                console.log(l);
                var color = "";
                var text = "";
                if (s > {{ yuzhi_json_yellow }}) {
                    color = red;
                    text = redtext;
                } else if (s < {{ yuzhi_json_yellow }} && s >= {{ yuzhi_json_normal }}) {
                    color = yellow;
                    text = yellowtext;
                } else {
                    color = green;
                    text = greentext;
                }
                document.getElementById("icon_cards").className = "card text-white " + color + " o-hidden h-100 w-100";
                document.getElementById("sos").innerHTML = "当前状态:" + text;
                document.getElementById("update_time").innerHTML = "更新时间:" + k;
                document.getElementById("update_flow").innerHTML = l + "当前人流量:" + s.toString() + "人次";
            },
            error: function () {
                error("获取数据错误");
            }
        })
    }, 5000);

    ctx = document.getElementById("myBarChart");
    myBarChart = new Chart(ctx,
        {
            type: "bar",
            data: {
                labels: ["周一", "周二", "周三", "周四", "周五", "周六", "周日"],
                datasets: [
                    {
                        label: "人流量",
                        backgroundColor: "rgba(2,117,216,1)",
                        borderColor: "rgba(2,117,216,1)",
                        data: [4215, 5312, 6251, 7841, 9821, 14984, 12345]
                    }
                ]
            },
            options: {
                scales: {
                    xAxes: [
                        {
                            time: {
                                unit: "month"
                            },
                            gridLines: {
                                display: !1
                            },
                            ticks: {
                                maxTicksLimit: 6
                            }
                        }
                    ],
                    yAxes: [
                        {
                            ticks:
                                {
                                    min: 0,
                                    max: 15e3,
                                    maxTicksLimit: 5
                                },
                            gridLines: {display: !0}
                        }]
                }, legend: {display: !1}
            }
        });
</script>
</div>
</body>

</html>
