<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>人流管理系统</title>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <!-- Bootstrap core CSS-->
    <link href={% static "vendor/bootstrap/css/bootstrap.min.css" %} rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href={% static "vendor/font-awesome/css/font-awesome.min.css" %} rel="stylesheet" type="text/css">
    <link href={% static "vendor/font-awesome/css/font-awesome.min.css" %} rel="stylesheet" type="text">
    <!-- Page level plugin CSS-->
    <link href={% static "vendor/datatables/dataTables.bootstrap4.css" %} rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href={% static "css/sb-admin.css" %} rel="stylesheet">
</head>
{% if user.is_authenticated %}
    <body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation-->
    {% include "model.html" %}
    <div class="content-wrapper">
    <div class="container-fluid">
    <!-- Breadcrumbs-->
    <div class="card-header">
        <i class="fa fa-newspaper-o"> </i>
        当前人流信息:
    </div>
    <!-- Icon Cards-->
    <div class="row">
        {% if current_count > yuzhi.threshold_value_yellow %}
            <div class="col-xl-12 mb-3 h-100 w-100">
                <div class="card text-white bg-danger o-hidden h-100 w-100" id="icon_cards">
                    <div class="card-body">
                        <div class="mr-5 text-center" id="update_flow">当前人流量:{{ current_count }}人次</div>
                    </div>
                    <a class="card-footer text-white small z-1 " href="#">
                        <span class="float-left " id="sos">当前状态:红色预警</span>
                    </a>
                </div>
                <div class="card-footer small text-muted">更新时间:{{ current_time }}</div>
            </div>
        {% elif current_count > yuzhi.threshold_value_normal %}
            <div class="col-xl-12 mb-3 h-100 w-100">
                <div class="card text-white bg-warning o-hidden h-100 w-100" id="icon_cards">
                    <div class="card-body">
                        <div class="mr-5 text-center" id="update_flow">当前人流量:{{ current_count }}人次</div>
                    </div>
                    <a class="card-footer text-white small z-1 " href="#">
                        <span class="float-left " id="sos">当前状态:黄色预警</span>
                    </a>
                </div>
                <div class="card-footer small text-muted">更新时间:{{ current_time }}</div>
            </div>
        {% else %}
            <div class="col-xl-12 mb-3 h-100 w-100">
                <div class="card text-white bg-w o-hidden h-100 w-100" id="icon_cards">
                    <div class="card-body">
                        <div class="mr-5 text-center" id="update_flow">当前人流量:{{ current_count }}人次</div>
                    </div>
                    <a class="card-footer text-white small z-1 " href="#">
                        <span class="float-left " id="sos">当前状态:正常情况</span>
                    </a>

                </div>
                <div class="card-footer small text-muted">更新时间:{{ current_time }}</div>
            </div>
        {% endif %}
    </div>

    <!-- Area Chart Example-->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-area-chart"></i> 人流量历史记录
        </div>
        <div class="card-body">
            <canvas id="myAreaChart" width="100%" height="30"></canvas>
        </div>
        <div class="card-footer small text-muted" id="update_time">更新时间:{{ current_time }}</div>

    </div>


    <!-- Example DataTables Card-->
    <div class="card mb-3">
        {% include "table2.html" %}
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
        <div class="container">
        </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    {% include "logout_model.html" %}
{% elif  not user.is_authenticated %}
    {#    <meta http-equiv="refresh" content="0" href={% url "login:login" %}>#}
    <script>
        const redirect = (url, asLink = true) =>
            asLink ? (window.location.href = url) : window.location.replace(url);

        redirect('{% url "login:login" %}');
    </script>
{% endif %}
<!-- Bootstrap core JavaScript-->
<script src={% static "vendor/jquery/jquery.min.js" %}></script>
<script src={% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}></script>
<!-- Core plugin JavaScript-->
<script src={% static "vendor/jquery-easing/jquery.easing.min.js" %}></script>
<!-- Page level plugin JavaScript-->
<script src={% static "vendor/chart.js/Chart.min.js" %}></script>
<script src={% static "vendor/datatables/jquery.dataTables.js" %}></script>
<script src={% static "vendor/datatables/dataTables.bootstrap4.js" %}></script>
<!-- Custom scripts for all pages-->
<script src={% static "js/sb-admin.min.js" %}></script>
<!-- Custom scripts for this page-->
<script src={% static "js/sb-admin-datatables.min.js" %}></script>
</div>
</body>

</html>
<script>
    /*!
 * Start Bootstrap - SB Admin v4.0.0-beta.2 (https://startbootstrap.com/template-overviews/sb-admin)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-sb-admin/blob/master/LICENSE)
 */
    Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif',
        Chart.defaults.global.defaultFontColor = "#292b2c";
    var ctx = document.getElementById("myAreaChart");
    var labels = {{ json_data_time| safe }};
    var red = "bg-danger";
    var redtext = "红色预警";
    var yellow = "bg-warning";
    var yellowtext = "黄色预警";
    var green = "bg-success";
    var greentext = "情况正常";

    var data = {{ json_data_data|safe }};
    myLineChart = new Chart(ctx,
        {
            type: "line",
            data: {
                labels: labels,
                datasets: [
                    {
                        label: "餐厅",
                        lineTension: .3,
                        backgroundColor: "rgba(2,117,216,0.2)",
                        borderColor: "rgba(2,117,216,1)",
                        pointRadius: 5,
                        pointBackgroundColor: "rgba(2,117,216,1)",
                        pointBorderColor: "rgba(255,255,255,0.8)",
                        pointHoverRadius: 5,
                        pointHoverBackgroundColor: "rgba(2,117,216,1)",
                        pointHitRadius: 20,
                        pointBorderWidth: 2,
                        data: data
                    },
                    {
                        label: "宿舍",
                        lineTension: .3,
                        backgroundColor: "rgba(0,0,0,0.2)",
                        borderColor: "rgba(0,0,0,1)",
                        pointRadius: 5,
                        pointBackgroundColor: "rgba(0,0,0,1)",
                        pointBorderColor: "rgba(255,255,255,0.8)",
                        pointHoverRadius: 5,
                        pointHoverBackgroundColor: "rgba(0,0,0,1)",
                        pointHitRadius: 20,
                        pointBorderWidth: 2,
                        data: {{ json_data_data_2|safe }}
                    },
                    {
                        label: "其他",
                        lineTension: .3,
                        backgroundColor: "rgba(255,0,0,0.2)",
                        borderColor: "rgba(255,0,0,1)",
                        pointRadius: 5,
                        pointBackgroundColor: "rgba(255,0,0,1)",
                        pointBorderColor: "rgba(255,255,255,0.8)",
                        pointHoverRadius: 5,
                        pointHoverBackgroundColor: "rgba(255,0,0,1)",
                        pointHitRadius: 20,
                        pointBorderWidth: 2,
                        data: {{ json_data_data_3|safe }}
                    }
                ]
            },
            options: {
                scales: {
                    xAxes: [{
                        time: {unit: "date"},
                        gridLines: {display: !1},
                        ticks: {maxTicksLimit: 7}
                    }],
                    yAxes: [{
                        ticks: {min: 0, max: 4e4, maxTicksLimit: 5},
                        gridLines: {color: "rgba(0, 0, 0, .125)"}
                    }]
                },
                legend: {display: !1},
                //animation : true
            }
        }
    )
    setInterval(function area_flush() {
        $.ajax("/part_flush/", {
            type: "GET",
            url: "/part_flush/",
            dataType: "json",
            success: function (data) {
                var k = "";
                var s = 0;
                k = data[0];
                s = data[1];
                l = data[2];
                myLineChart.data.labels.pop();
                myLineChart.data.labels.unshift(k);
                if (l == "餐厅") {
                    myLineChart.data.datasets[0].data.pop();
                    myLineChart.data.datasets[0].data.unshift(s);
                } else if (l == "宿舍") {
                    myLineChart.data.datasets[1].data.pop();
                    myLineChart.data.datasets[1].data.unshift(s);
                } else {
                    myLineChart.data.datasets[2].data.pop();
                    myLineChart.data.datasets[2].data.unshift(s);
                }
                myLineChart.update();
                console.log("更新时间:" + k);
                console.log("当前人流量:" + s.toString() + "人次");
                console.log(l);
                var color = "";
                var text = "";
                if (s > {{ yuzhi_json_yellow }}) {
                    color = red;
                    text = redtext;
                } else if (s < {{ yuzhi_json_yellow }} && s >= {{ yuzhi_json_normal }}) {
                    color = yellow;
                    text = yellowtext;
                } else {
                    color = green;
                    text = greentext;
                }

                document.getElementById("sos").innerHTML = "当前状态:" + text;
                document.getElementById("update_time").innerHTML = "更新时间:" + k;
                document.getElementById("update_flow").innerHTML = l + "当前人流量:" + s.toString() + "人次";
            },
            error: function () {
                error("获取数据错误");
            }
        })
    }, 5000);

</script>