<div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-table"></i> 历史信息表
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                         <tr>
                            <th>时间</th>
                            <th>地点</th>
                            <th>人流量</th>
                            <th>异常视频</th>
                        </tr>
                        </thead>
                        <tfoot>
                        </tfoot>
                        <tbody>
                        {% for data in datas %}
                            <tr>
                           {% for i in data %}
                               <td>{{ i }} </td>
                           {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer small text-muted" id="update_table_time"> </div>
        <script>
            var d=new Date();
            document.getElementById("update_table_time").innerHTML="更新于"+d.toLocaleString();
        </script>
</div>