<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>人流量管理系统</title>
    <!-- Bootstrap core CSS-->
    <link href={% static "vendor/bootstrap/css/bootstrap.min.css" %} rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href={% static "vendor/font-awesome/css/font-awesome.min.css" %} rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href={% static "vendor/datatables/dataTables.bootstrap4.css" %} rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href={% static "css/sb-admin.css" %} rel="stylesheet">
</head>
{% if user.is_authenticated %}
    <body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation-->
    {% include "model.html" %}
    <div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href={% url "index" %}>人流量管理系统</a>
            </li>
            <li class="breadcrumb-item active">Tables</li>
        </ol>
        <!-- Example DataTables Card-->
        {% include "table1.html" %}
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    {% include "logout_model.html" %}
{% else %}
    <script>
        const redirect = (url, asLink = true) =>
            asLink ? (window.location.href = url) : window.location.replace(url);

        redirect('{% url "login:login" %}');
    </script>
{% endif %}
<script src={% static "vendor/jquery/jquery.min.js" %}></script>
<script src={% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}></script>
<!-- Core plugin JavaScript-->
<script src={% static "vendor/jquery-easing/jquery.easing.min.js" %}></script>
<!-- Page level plugin JavaScript-->
<script src={% static "vendor/datatables/jquery.dataTables.js" %}></script>
<script src={% static "vendor/datatables/dataTables.bootstrap4.js" %}></script>
<!-- Custom scripts for all pages-->
<script src={% static "js/sb-admin.min.js" %}></script>
<!-- Custom scripts for this page-->
<script src={% static "js/sb-admin-datatables.min.js" %}></script>
</div>
</body>

</html>
